.container {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border: 1px solid #EEEEE0;
    border: 2px solid #3040D3;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    
   
}

.textContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    font-size: 16px;
    text-align: center;
    width: 200px;
    z-index: 2;
}

.level {
    font-size: 18px;
    font-weight: 600;
}

.progressBar {
    position: absolute;
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}