.pageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 3rem 1rem;
  }
  
  .contentContainer {
    max-width: 64rem;
    width: 100%;
    /* background-color: #e53e3e; */
    background-color: #3040D3;
    clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  }
  
  .title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 800;
    color: #1a202c;
    margin-bottom: 2rem;
  }
  
  .formContainer {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    /* border-radius: 0.5rem; */
    clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  
    background-color: #3040D3;
  } 
  
  .formContent {
    display: flex;
    border: 2px solid #3040D3;
    background-color: white;
    clip-path: polygon(42px 0, 100% 0, 100% calc(100% - 42px), calc(100% - 42px) 100%, 0 100%, 0 42px);
  }
  
  .formSection {
    width: 100%;
    padding: 2rem;
  }
  .formSectionSuccess {
    width: 100%;
    padding: 2rem;
  }
  
  @media (min-width: 768px) {
    .formSection {
      width: 50%;
    }
    
  
  }
  @media (max-width: 768px) {
  
    .imageSection{
      display: none;
    }
    
  
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .description {
    margin-bottom: 1.5rem;
    color: #4a5568;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .errorText {
    color: #e53e3e;
    width: 100%;
    text-align: center;
  }
  
  .submitButtonContainer {
    display: inline-block;
    max-width: 500px;
    position: relative;
    background-color: black;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submitButton {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #3040D3;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
    /* border: 1px solid black; */
    max-width: 500px;
    font-weight: bold;
  }
  
  .submitButton:hover {
    background-color: #dd6b20;
  }
  
  .submitButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(237, 137, 54, 0.5);
  }
  
  .submitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .signInText {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #4a5568;
  }
  
  .signInLink {
    font-weight: 500;
    color: #3040D3;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .signInLink:hover {
    color: #dd6b20;
  }
  
  .successMessage {
    text-align: center;
  }
  
  .imageSection {
    display: none;
    width: 50%;
    /* background-color: #285a7; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    @media (max-width: 768px){
      display: none;
    }
    
  }
  
  /* @media (max-width: 768px) {
    .imageSection {
      width: 100%;
    }
  } */
  .containerImage{
    display: flex;align-items: center;
    justify-content: center;
    height: 100%;
    
    
  }
  .ImageContainer{
    object-fit: fill;
    width: 80%;
    height: 80%;
    /* border: 1px solid #3040D3; */
    background-color: #3040D3;
    clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
    max-width: 400px;
  }
  .image {
    object-fit: fill;
    border: 2px solid #3040D3;
    background-color: white;
    width: 100%;
    height: 100%;
    clip-path: polygon(42px 0, 100% 0, 100% calc(100% - 42px), calc(100% - 42px) 100%, 0 100%, 0 42px);
    
  }
  
  
  .submitContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error{
    color: red;
    width: 100%;
    text-align: center;
  }

  .noError{
    color: transparent;
  }