.gameHead{
    grid-area: header;
}

.gameBody{
    grid-area: main;
    display: flex;
    justify-content:center;
}

.gamePage{
    display: grid;

    grid-template-areas:
    'header'
    'main';
}

.gameHead{
    width: 100vw;
    height: 12rem;
    /* Made BY ABDELALI:CANISLUPUS */
    display: flex;
    justify-content: space-around;
    padding:15px 20px 0 0;
}

.gameBody{
    height: 100vh;
    width: 100vw;
    background-color: royalblue ;
}