.playerinfos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    background-color: #F5F5F5;
    border: 1px solid #EEEEE0;
    border-radius: 8px;
    padding: 10px;
}

.imageC {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.infosContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.title {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}

.infoAndCopy {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 480px) {
    .playerinfos {
        flex-direction: column;
    }

    .imageC {
        margin-bottom: 10px;
    }

    .info {
        padding: 5px 0;
    }

    .title {
        font-size: 12px;
    }
}