.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.verticalNavbarr {
  background-color: #ffffff;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

.horizontalNavbarr {
  height: 55px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEE0;
  width: 100%;
}

.navBarContainer {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEE0;
}

.page-content {
  flex: 1;
  overflow: auto;
  
}

@media screen and (max-width: 880px) {
  .layout-container {
    flex-direction: column;
    
  }
  

  .verticalNavbarr {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .horizontalNavbarr {
    width: 100%;
  }

  .navBarContainer {
    display: block;
  }
}

@media screen and (min-width: 881px) {
  .navBarContainer {
    display: none;
  }
}