.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative; /* Needed for pseudo-element positioning */
  overflow: hidden; /* Ensure blur doesn't leak outside */
}

.layout-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/023/157/372/original/abstract-blue-sci-fi-rotating-fractal-tunnel-vj-loop-background-high-quality-4k-footage-video.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(5px); /* Adjust blur intensity */
  background-color: rgba(53, 53, 53, 0.75); /* White overlay with 50% opacity */
  background-blend-mode: overlay; /* Blend the white color with the image */
}

/* Ensure content stays on top of the background */
.layout-container > * {
  position: relative;
  z-index: 1;
}

.verticalNavbarr {
  background-color: #ffffff;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #ffffff; */
  /* filter: blur(5px); */
}

.horizontalNavbarr {
  height: 55px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEE0;
  width: 100%;
  position: relative;
}

.navBarContainer {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEE0;
}

.page-content {
  flex: 1;
  overflow: auto;
  
}

@media screen and (max-width: 880px) {
  .layout-container {
    flex-direction: column;
    
  }
  

  .verticalNavbarr {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .horizontalNavbarr {
    width: 100%;
  }

  .navBarContainer {
    display: block;
  }
}

@media screen and (min-width: 881px) {
  .navBarContainer {
    display: none;
  }
}