.NotifNotif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    overflow-y: auto;
    border: 1px solid #3040D3;
    background-color: #fff;
    max-width: 450px;
    min-width: 320px;
    padding: 20px;
    clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);

    .element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        width: 100%;
        border-radius: 8px;
        max-width: 100%;

        .codeInput{
            width: 100px;
            height: 40px;
            text-align: center;
        }
        .toggleContainer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .toggleButton,
            .toggleButtonActive {
                width: 100px;
                height: 50px;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: #EEEEE0;
                cursor: pointer;
                padding: 5px;
                transition: justify-content 2s ease;
                position: relative;

                .dote {
                    width: 40px;
                    height: 40px;
                    background-color: #949494;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    transform: transform 0.4s ease;
                }
            }
            .toggleButtonActive .dote {
                transform: translateX(45px);
            }
        }

        .error {
            text-align: center;
            color: #f44336;
            font-weight: bold;
            margin-top: 10px;
            font-size: 14px;
        }

        .label {
            width: 100%;
            font-size: 16px;
            text-align: left;
            margin-bottom: 5px;
            color: #333;
        }

        .input {
            border-radius: 8px;
            border: 1px solid #ccc;
            padding: 12px;
            font-size: 16px;
            width: 100%;
            transition: transform 0.3s ease, background-color 0.3s ease;

            &:focus {
                background-color: #f0f0f0;
                transform: scale(1.02);
                outline: none;
            }
        }

        .buttonContainer {
            width: 100%;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 80px;
                border-radius: 8px;
                background-color: #EEEEE0;
                border: 1px solid #ccc;
                cursor: pointer;
                transition: transform 0.3s ease, background-color 0.3s ease;

                &:hover {
                    background-color: #333;
                    color: white;
                    transform: scale(1.05);
                }
            }
        }
    }
}


.signInLink {
    font-weight: 500;
    color: #3040D3;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .signInLink:hover {
    color: #dd6b20;
  }

  .submitButtonContainer {
    display: inline-block;
    max-width: 500px;
    position: relative;
    background-color: black;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submitButton {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #3040D3;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
    /* border: 1px solid black; */
    max-width: 500px;
    font-weight: bold;
  }
  .submitButtonContainerRevers {
    display: inline-block;
    max-width: 500px;
    position: relative;
    background-color: black;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submitButtonRevers {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #3040D3;
    font-size: 16px;
    border: none;
    cursor: pointer;
    clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
    border: 1px solid #3040D3;
    max-width: 500px;
    font-weight: bold;
  }